*.swp
*.pyc
__pycache__
.DS_Store
*.sh.o*
*.aux
*.bbl
*.blg
*latexmk
*.fls
*.lof
*-blx.bib
*.nav
*.run.xml
*.snm
*.toc
*.bcf
bin/dpprobs
bin/ecoevolity
bin/nex2yml
bin/simcoevolity
bin/sumcoevolity
bin/swprobs
ecoevolity/
project-python-env/
*.log
*.out
*simcoevolity-sim-*
*-sim-[0-9]-*
*-sim-[0-9][0-9]-*
*-sim-[0-9][0-9][0-9]-*
*-sim-[0-9][0-9][0-9][0-9]-*
simcoevolity-model-used-for-sims.yml
spawn_job_array.*
prior-sampling-tests/
