*.swp
*.pyc
__pycache__
.DS_Store
*.sh.o*
*.aux
*.bbl
*.blg
*latexmk
*.fls
*.lof
*-blx.bib
*.nav
*.run.xml
*.snm
*.toc
*.bcf
bin/dpprobs
bin/ecoevolity
bin/nex2yml
bin/simcoevolity
bin/sumcoevolity
bin/swprobs
ecoevolity/
*.log
*.out
*simcoevolity-sim-*
prior-sampling-tests/
